    @media (max-width: 767px) {
        .hold nav .container .links li a {
            font-size: 8px;
        }
        .hold nav .container .links {
            padding: 0;
            /* padding-top: 5px; */
            /* padding-right: 5px; */
        }
        .hold nav .container .brand h1 {
            padding-left: 10px;
            /* margin: 0; */
            font-size: 10px;
            margin: 0;
        }
        .hold .land .container h1 {
            font-size: 20px;
        }
        .hold .land .container p {
            font-size: 13px;
        }
        .about-me .cv {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
        }
        .about-me .cv p {
            font-size: 12px;
        }
        .about-me .cv img {
            width: 60%;
        }
        .about-me .container .cards {
            display: flex;
            flex-direction: column;
        }
        .projects .container .cards {
            display: flex;
            flex-direction: column;
        }
    }